body {
  width: 480px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

header {
  height: 75px;
  position: relative;
}

main > article {
  height: 150px;
  position: relative;
}

main > div > section:first-child > div {
  height: 125px;
  position: relative;
}

main > div > section:nth-child(2){
  overflow: hidden;
}

main > div > section:nth-child(2) > div {
  width: 240px;
  height: 250px;
  float: left;
  position: relative;
}

main > div > div {
  height: 80px;
  position: relative;
}

p {
  /* guide for centering vertically */
  /* https://css-tricks.com/centering-css-complete-guide/ */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}


/* reference for @media
https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

@media only screen and (min-width: 768px) {
  
  body {
    position: relative;
    width: 960px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  header {
    height: 100px;
    max-width: 960px;
  }

  main {
    max-width: 960px;
    overflow: hidden;
  }

  main > article {
    height: 600px;
    width: 200px;
    float: left;
    position: relative;
  }

  main > div {
    float: left;
    width: 760px;
    overflow: hidden;
  }

  section {
    overflow: hidden;
  }

  main > div > section:first-child > div {
    height: 200px;
    width: 380px;
    float: left;
  }

  main > div > section:nth-child(2) > div {
    width: 190px;
    height: 250px;
    float: left;
  }

  main > div > div {
    height: 150px;
  }

  p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

}




